body {
  color: #fff;
  background: url(../images/kaohsiung.jpg) no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.site-wrapper {
  background-color: rgba(0, 0, 0, 0.35);
}