body {
  color: #fff;
  background: url(../images/singapore.jpg) no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.site-wrapper {
  background-color: rgba(0, 0, 0, 0.30);
}

.btn-primary, .btn-primary:hover {
  border-color: #9c97bd;
}

.btn-primary:hover {
  border-color: #ae2525;
}