div.eat-icon {
  font-size: 65px;
  display: inline;
}

div p.eat-text {
  font-family: BebasNeueRegular, arial;
  font-size: 75px;
  color: white;
  padding-left: 13px;
  display: inline;
  position: relative;
  top: 4px;
}

div.code-icon {
  font-size: 75px;
  display: inline;
}

div p.code-text {
  font-family: JetBrainsMono, courier;
  font-size: 65px;
  letter-spacing: -5px;
  color: white;
  padding-left: 10px;
  display: inline;
  position: relative;
  top: 8px;
}

div.travel-icon {
  font-size: 90px;
  display: inline;
}

div p.travel-text {
  font-family: Helvetica;
  font-size: 65px;
  font-style: oblique;
  color: white;
  padding-left: 10px;
  display: inline;
  position: relative;
  top: 10px;
}

div.content p:first-of-type {
  margin-top: 0px !important;
}

div.content p {
  margin-bottom: 0px;
}

div.col-lg-8.content {
  padding-bottom: 50px;
}