body {
  color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

body.bruges.jpg {
  background-image: url(../images/bruges.jpg)
}

body.bruges.webp {
  background-image: url(../images/bruges.webp)
}

body.bruges > .site-wrapper {
  background-color: rgba(0, 0, 0, 0.30);
}

body.bruges .btn-primary {
  border-color: #d58d63;
}

body.bruges .btn-primary:hover {
  border-color: #89827c;
}

body.amsterdam.jpg {
  background-image: url(../images/amsterdam.jpg)
}

body.amsterdam.webp {
  background-image: url(../images/amsterdam.webp)
}

body.amsterdam > .site-wrapper {
  background-color: rgba(0, 0, 0, 0.25);
}

body.christiana.jpg {
  background-image: url(../images/christiana.jpg)
}

body.christiana.webp {
  background-image: url(../images/christiana.webp)
}

body.christiana > .site-wrapper {
  background-color: rgba(0, 0, 0, 0.35);
}

body.christiana .btn-primary {
  border-color: #72231c;
}

body.christiana .btn-primary:hover {
  border-color: #475358;
}

body.carlsbad.jpg {
  background-image: url(../images/carlsbad.jpg);
}

body.carlsbad.webp {
  background-image: url(../images/carlsbad.webp);
}

body.carlsbad > .site-wrapper {
  background-color: rgba(0, 0, 0, 0.35);
}

body.kaohsiung.jpg {
  background-image: url(../images/kaohsiung.jpg)
}

body.kaohsiung.webp {
  background-image: url(../images/kaohsiung.webp)
}

body.kaohsiung > .site-wrapper {
  background-color: rgba(0, 0, 0, 0.35);
}

body.potomac.jpg {
  background-image: url(../images/potomac.jpg)
}

body.potomac.webp {
  background-image: url(../images/potomac.webp)
}

body.potomac > .site-wrapper {
  background-color: rgba(0, 0, 0, 0.35);
}

body.singapore.jpg {
  background-image: url(../images/singapore.jpg)
}

body.singapore.webp {
  background-image: url(../images/singapore.webp)
}

body.singapore > .site-wrapper {
  background-color: rgba(0, 0, 0, 0.30);
}

body.singapore .btn-primary {
  border-color: #9c97bd;
}

body.singapore .btn-primary:hover {
  border-color: #ae2525;
}

body.taipei.jpg {
  background-image: url(../images/taipei.jpg)
}

body.taipei.webp {
  background-image: url(../images/taipei.webp)
}

body.taipei > .site-wrapper {
  background-color: rgba(0, 0, 0, 0.45);
}

body.sunflower.jpg {
  background-image: url(../images/sunflower.jpg)
}

body.sunflower.webp {
  background-image: url(../images/sunflower.webp)
}

body.sunflower .btn-primary {
  border-color: #f7dc4b;
}

body.sunflower .btn-primary:hover {
  border-color: #8a9a65;
}

body.sunflower > .site-wrapper {
  background-color: rgba(0, 0, 0, 0.25);
}

body.natural_bridge.jpg {
  background-image: url(../images/natural_bridge.jpg)
}

body.natural_bridge.webp {
  background-image: url(../images/natural_bridge.webp)
}

body.natural_bridge > .site-wrapper {
  background-color: rgba(0, 0, 0, 0.25);
}

body.dulles.jpg {
  background-image: url(../images/dulles.jpg)
}

body.dulles.webp {
  background-image: url(../images/dulles.webp)
}

body.dulles > .site-wrapper {
  background-color: rgba(0, 0, 0, 0.45);
}

body.corolla.jpg {
  background-image: url(../images/corolla.jpg)
}

body.corolla.webp {
  background-image: url(../images/corolla.webp)
}

body.corolla > .site-wrapper {
  background-color: rgba(0, 0, 0, 0.15);
}

body.corolla .btn-primary {
  border-color: #d0c697;
}

body.corolla .btn-primary:hover {
  border-color: #8a9a65;
}
